@model IEnumerable<User>

@{
    ViewBag.Title = "SortUsers";
}

<h2>SortUsers</h2>

<form>
    <p>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @if (item.UserPhoto != null)
                {
                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                             + Convert.ToBase64String(item.UserPhoto) + "\" />")
                }
                else
                {
                    <img style='width:80px; height:60px;' src="~/Images/usualPic.jpg" />
                }
            </td>
        </tr>
    }

</table>